[buildout]
parts = openerp
versions = versions
find-links = http://download.gna.org/pychart/
             http://pydot.googlecode.com/files/pydot-1.0.28.tar.gz

[openerp]
recipe = anybox.recipe.openerp:server
version = git https://github.com/OCA/OCB.git odoo 7.0
addons = local modules
         git https://github.com/OCA/account-financial-reporting.git parts/account-financial-reporting 7.0
         git https://github.com/OCA/account-financial-tools.git parts/account-financial-tools 7.0


         git https://github.com/akretion/account-gain-loss.git parts/account-gain-loss 7.0
         git https://github.com/akretion/account-statement-be2bill-import.git account-statement-be2bill-import lfx


eggs = nose
       unidecode
       Pillow
       phonenumbers
       unicodecsv
openerp_scripts = nosetests=nosetests command-line-options=-d

[versions]
reportlab = 3.3
pydot = 1.0.28
vobject = 0.6.6
